{# templates/registration/register.html.twig #}

{{ form_start(form) }}
    {{ form_errors(form.username) }}
    {{ form_row(form.username) }}
    {{ form_errors(form.email) }}
    {{ form_row(form.email) }}
    {{ form_errors(form.plainPassword) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

        {{ form_errors(form) }}

<button type="submit">Register!</button>
{{ form_end(form) }}
